<div class="container">
  <h1>
    City: {{ city }}
  </h1>
  <div class="alert alert-primary" role="alert">
    This is a primary alert—check it out!
  </div>

  <div>
    <!-- Click event listener (išviečiama funkcija) -->
    <button (click)="increment()" class="btn btn-primary">Mygtukas</button>
  </div>

  <div>
    <!-- Click event listener (atliekame operacija su komponento kintamuoju) -->
    <button (click)="count = count + 1" class="btn btn-primary">Mygtukas</button>
  </div>

  <div>
    <!-- Angular naudoja Two-Way Data Binding todėl pakeitus kintamojo reikšmę,
    nauja reikšmė atvaizduojama automatiškai
    -->
    Button was clicked: {{ count }} times
  </div>
</div>

<router-outlet></router-outlet>
